#charts {
    display: flex;
}

.barchart {
    float: left;
}
#barChart {
    font-size: 14px;
    float: left;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}