@model IEnumerable<YoavShop.ViewModels.TransactionsDateGroup>
           
@{
    ViewBag.Title = "Transactions Body Statistics";
}

<h2>Transactions Body Statistics</h2>

<table>
    <tr>
        <th>
            Transaction Date
        </th>
        <th>
            Transactions
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @item.TransactionsCount
            </td>
        </tr>
    }
</table>