@{
    ViewBag.Title = "About";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/Map.css" type="text/css" media="screen" />﻿
</head>
<body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <br />
    <!--Currency Converter widget - HTML code - fx-rates.net -->
    <div style="width:auto; background-color: #fff; border: darkgray; float: right; align-self: center; text-align: center;">
        <div style="padding: 3px 0px 2px 0px; text-align: center; background-color: #ccc; border: 1px solid #888; width: auto;">
            <a title="American Dollar to Israeli New Shekel Conversion Sheet" style="text-decoration: none;
                font-size: 12px !important; font-family: arial; color: #000000;" href="https://fx-rate.net/USD/ILS/">
                <b>Dollar to Shekel Conversion Table</b>
            </a>
        </div>
        <script type="text/javascript" src="https://fx-rate.net/conversion.php?size=medium&layout=vertical&currency_pair=ILS&currency=USD"></script>
    </div>
    <!--end of currency web service-->
    <!-- This is the div that will contain the Google Map -->
    <div id="map_canvas" style="height: 400px; width: 350px;"></div>

    @section scripts {

        <section class="scripts">

            <script type="text/javascript">
                $(document).ready(function () {
                    Initialize();
                });

                function Initialize() {

                    google.maps.visualRefresh = true;
                    var Israel = new google.maps.LatLng(31.969929, 34.772283);

                    var mapOptions = {
                        zoom: 8,
                        center: Israel,
                        mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                    };

                    // This makes the div with id "map_canvas" a google map
                    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                    // a sample list of JSON encoded data of places to visit in Tunisia
                    // you can either make up a JSON list server side, or call it from a controller using JSONResult
                    var data = [
                        { "Id": 1, "PlaceName": "סניף ראשון לציון", "GeoLong": "31.969365", "GeoLat": "34.772289" },
                        { "Id": 2, "PlaceName": "סניף תל אביב", "GeoLong": "32.086167", "GeoLat": "34.790039" },
                        { "Id": 3, "PlaceName": "סניף ירושלים", "GeoLong": "31.768809", "GeoLat": "35.212450" },
                        { "Id": 4, "PlaceName": "סניף המכללה למנהל", "GeoLong": "31.969929", "GeoLat": "34.772283" }
                    ];

                    $.each(data, function (i, item) {
                        var marker = new google.maps.Marker({
                            'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                            'map': map,
                            'title': item.PlaceName
                        });

                        var itemContent = "<div class='infoDiv'><h4>" + item.PlaceName + "</h4>" +
                            "<h5>Opening Hours:</h5><h5>08:00-16:00</h5></div>";

                        var infowindow = new google.maps.InfoWindow({
                            content: itemContent
                        });

                        google.maps.event.addListener(marker, 'click', function () {
                            infowindow.open(map, marker);
                        });
                    })
                }
            </script>
        </section>
    }
    <!-- end of map-->

<br />
<div id="charts" style="display: flex">
<div class="barchart" style="float: left">
    <!-- bar chart -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style>
        #barChart {
            font-size: 14px;
        }

        .bar {
            fill: steelblue;
        }

            .bar:hover {
                fill: brown;
            }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }
    </style>
    <h4>Supplier by amount of money they maid</h4>

    <svg id="barChart" style="float: left"></svg>

    <script>
    $.ajax({
        url: '@Url.Action("SuppliersByTransactions", "Home")',
        type: 'GET',
        success: function (dat) {

            var data = dat;
            var margin = {
                    top: 20,
                    right: 20,
                    bottom: 50,
                    left: 40
                },
                width = 350 - margin.left - margin.right,
                height = 250 - margin.top - margin.bottom;


            var x = d3.scale.ordinal()
                .rangeRoundBands([width, 0], 0.1);

            var y = d3.scale.linear()
                .range([0, height]);

            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left")
                .tickFormat(d3.format("d"))
                .tickSubdivide(0);


            var svg = d3.select("svg#barChart")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            x.domain(data.map(function(d) {
                return d.UserName;
            }));

            y.domain([
                d3.max(data,
                    function(d) {
                        return d.Count;
                    }), 0
            ]);

            svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .selectAll("text")
                .attr("transform", "rotate(90)")
                .attr("x", 0)
                .attr("y", -6)
                .attr("dx", ".6em")
                .style("text-anchor", "start");

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x",
                    function(d) {
                        return x(d.UserName);
                    })
                .attr("width", x.rangeBand())
                .attr("y",
                    function(d) {
                        return y(d.Count);
                    })
                .attr("height",
                    function(d) {
                        return height - y(d.Count);
                    });
        }
    });
    </script>
</div>
<div id="linechart">
<h4>Number of transactions over time</h4>
    <svg id="lineChart"></svg>
    <style>
        .line {
            fill: none;
            stroke: steelblue;
            stroke-width: 2px;
        }
    </style>
    <script type="text/javascript">
    $.ajax({
        url: '@Url.Action("TransactionsByTime", "Home")',
        type: 'GET',
        success: function(dat) {
            var data = dat;
            var width = 300;
            var height = 100;

            var svg = d3.select("#lineChart")
                .attr("width", width)
                .attr("height", height);

            var x = d3.scale.linear()
                .range([0, width]);

            var y = d3.scale.linear()
                .range([height, 0]);

            x.domain([0, data.length]);
            y.domain([0, d3.max(data, function(d) { return d; })]);


            var line = d3.svg.line()
                .x(function(d, i) { return x(i); })
                .y(function(d) { return y(d); });

            svg.append("path")
                .datum(data)
                .attr("class", "line")
                .attr("d", line);
        }});
    </script>
    </div>
    <!-- end of line chart -->
</div>
<br />
    
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBannxhtQQR-AIphU4cX0fwO_T3-XSl6e8&">
        </script>
</body>
</html>