
@{
    ViewBag.Title = "TwitterAuth";
}

@using (Html.BeginForm("TwitterAuth", "Home", FormMethod.Get))
{
    <br/> <button class = "btn btn-info" type = "submit" id="twitter"> Huree!Twitter </button>  
}  

<h2>TwitterAuth</h2>